<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="FlashCardsDatabaseProduction"
			 connectionString="Data Source=DESKTOP-BRQPB9U;Database=FlashCardsDb;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
		<add name="FlashCardsDatabaseTest"
			 connectionString="Data Source=DESKTOP-BRQPB9U;Database=FlashCardsDbTest;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
	</connectionStrings>
</configuration>